@import url("../home/style.css");

.projects-section {
  text-align: center;
  padding: 2rem;
}

.project-card {
  background: white;
  padding: 1.5rem;
  margin: 1rem auto;
  width: 60%;
  border-radius: 8px;
  box-shadow: 0 2px 4px var(--medium-gray);
  transition: transform 0.3s;
}

.project-card:hover {
  transform: scale(1.05);
  background-color: var(--primary-light-blue);
  color: white;
}
